* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background-color: hsl(47, 53%, 83%);
    scroll-behavior: smooth;
}
header, footer{ background-color: rgb(30, 30, 140);}
a {
    color: rgb(152, 136, 136);
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    color: black;
}

h1 {
    color: brown;
}

#no-border {
    border: 0;
}

.list-inline-item {
    color: rgb(212, 125, 12);
}

footer {
    margin-top: 75vh;
    margin-bottom: 0;
}

.social-icons a {
    font-size: 1.2rem;
}
img{
    border-radius: 50%;
    object-fit: cover;
}